*{

    font-family: 'Montserrat', sans-serif;

}

:root{

    --main-color: rgb(245, 245, 245); 
    --secondary-color: rgb(51, 51, 51);
    --accent-color: black;

}

body{

    background-color: black;
    overflow-x: hidden;

}

.header-text{

    font-size: 12vh;
    color: var(--main-color);
    line-height: 12vh;

}

.header-text-grey{

    font-size: 12vh;
    color: var(--secondary-color);
    line-height: 12vh;

}

.find-me{

    font-size: 1.8vh;

}

.fa-linkedin{

    color: var(--main-color);

}

.main-text{

    color: var(--main-color);

}

.bg-custom-white{

    background-color: var(--main-color);

}

.about-text-number{

    font-size: 3vh;
    font-weight: bold;
    color: var(--accent-color);

}

.about-text{

    font-size: 8vh;
    color: var(--accent-color);

}

.about-description{

    font-size: 1.8vh;
    color: var(--accent-color);

}

.certificate{

    box-shadow: 0px 0px 20px gray;

}

.bg-quote{

    position: relative;

}

.bg-quote img{

    position: absolute;
    height: 100%;
    width: 50%;
    z-index: -1;

}

.quote{

    font-size: 8vh;
    color: var(--main-color);
    line-height: 5vh;

}

.works-img{

    height: 25vh;
    object-fit:contain;

}

.text-wrapper{

    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;

}

.letters{

    display: inline-block;
    line-height: 1em;

}

.hideme{

    opacity: 0;

}

/* Carousel */

.slider-container {

    position: relative;
    overflow: hidden;
    height: 100vh;

}
  
.left-slide {

    height: 100%;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-in-out;

}
  
.left-slide > div {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--accent-color);

}

.left-slide > div > p{

    padding-right: 50px;

}
  
.right-slide {

    height: 100%;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    transition: transform 0.5s ease-in-out;

}
  
.right-slide > div {
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;

}
  
button {

    background-color: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;

}
  
button:hover {

    color: var(--accent-color);

}
  
button:focus {

    outline: none;

}
  
.slider-container .action-buttons button {

    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;

}
  
.slider-container .action-buttons .down-button {

    transform: translateX(-100%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
  
.slider-container .action-buttons .up-button {

    transform: translateY(-100%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.dis-none{

    display: none;

}
  
/* Smartphone */

@media screen and (max-width: 480px) {
    
    .header-text{

        font-size: 7vh;
        line-height: 8vh;

    }

    .header-text-grey{

        font-size: 7vh;
        line-height: 8vh;

    } 

    .find-me{

        font-size: 2vh;

    }

    .about-text{

        font-size: 7vh;

    }

    .about-text-number{

        font-size: 2vh;
    
    }

    .quote{

        font-size: 6vh;
        line-height:5vh;
    
    }

    .bg-quote img{

        height: 70%;
        width: 100%;
        padding-bottom: 60px;
    
    }

    .justify-sm{

        justify-content: center;

    }

    .slider-container{

        display: none;

    }

    .dis-none{

        display: block;

    }

}

/* Tablet */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    
    .header-text{

        font-size: 9vh;
        line-height: 8vh;

    }

    .header-text-grey{

        font-size: 9vh;
        line-height: 8vh;

    } 

    .find-me{

        font-size: 2.2vh;

    }

    .about-text{

        font-size: 7vh;

    }

    .about-text-number{

        font-size: 2vh;
    
    }

    .quote{

        line-height:5vh;
    
    }

    .bg-quote img{

        height: 90%;
        width: 100%;
    
    }

    .slider-container{

        display: none;

    }

    .dis-none{

        display: block;

    }

}